@model IEnumerable<concurso_p2024.Models.Estudiante>
@{
	ViewData["Title"] = "Estudiantes";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de estudiantes</h1>

<div class="container">
	<div class="row mt-5">
		<div class="col-3">
			<a class="btn btn-primary text-white form-control" asp-action="Crear">Agregar nuevo estudiante</a>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-12">
			@if (Model.Count() > 0)
			{
				<table class="table table-striped border">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Fecha de nacimiento</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>@item.Id</td>
								<td>@item.Nombre</td>
								<td>@item.Apellido</td>
								<td>@item.FechaNacimiento</td>
							</tr>
						}
					</tbody>
				</table>
			}
			else
			{
				<h2>No hay ningun alumno registrado</h2>
			}
		</div>
	</div>
</div>